<!DOCTYPE html>
<html lang="en">

<head>
  <title>Event Booking System</title>
  <%- include partials/html-head %>
</head>

<body class="event-page">
  <%- include partials/navbar %>

    <!-- Begin page content -->
    <main class="container">
      <div class="card-flex mt-3">
        <header class="title mb-0"><%= event.eventName %></header>
        <a href="#" class="btn btn-sm btn-info ml-3">Edit</a>
      </div>
      <div class="row mt-2">
        <div class="col">
          <div class="info">
            <div class="mb-2">
              <i class="far fa-calendar-alt">
                <span class="font-italic">
                  <%= event.durationString %>
                </span>
              </i>
            </div>
            <div class="mb-2">
              <i class="fas fa-map-marker-alt">
                <span class="font-italic">
                  <%= event.address%>
                </span>
              </i>
            </div>
            <div class="mb-2">
              <i class="fas fa-dollar-sign">
                <span class="font-italic">
                  <%= event.price %>
                </span>
              </i>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-8">
              <div class="card mt-3">
                <h5 class="card-header">Description</h5>
                <div class="card-body">
                  <div class="card-text">
                    <%- event.fullDesc %>
                  </div>
                </div>
              </div>
              <a href="#" class="btn btn-primary book-in mt-3">Book In</a>
            </div>

            <div class="col-4">
              <div class="card mt-3">
                <h5 class="card-header">Other Information</h5>
                <div class="card-body">
                  <strong class="card-text">
                    Maximum capacity:
                  </strong>
                  <div class="card-text mb-2">
                    <%= event.capacity %>
                  </div>
                  <strong class="card-text">
                    Current bookings:
                  </strong>
                  <div class="card-text mb-2">
                    <%= event.currentBookings %>
                  </div>
                  <strong class="card-text">
                    Promotional Code:
                  </strong>
                  <div class="card-text mb-2">
                    <% if (!event.promoCode) { %>
                      N/A
                    <% } else { %>
                      <%= event.promoCode %>
                    <% } %>
                  </div>
                  <strong class="card-text">
                    Discount Percentage:
                  </strong>
                  <div class="card-text">
                  <% if (!event.discount) { %>
                    N/A
                  <% } else { %>
                    <%= event.discount %>%
                  <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <!-- Sticky Footer -->
    <%- include partials/footer %>

      <!-- Bootstrap core JavaScript
    ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <%- include partials/html-scripts %>
</body>

</html>