<!DOCTYPE html>
<html lang="en">

<head>
	<title>Event Booking System</title>
	<%- include partials/html-head %>
</head>

<body class="home-page">
	<%- include partials/navbar %>

	<!-- Begin page content -->
	<main class="container">
		<header class="title mt-3 mb-0">Upcoming Events</header>
		<!-- Display list of cards -->
		<div class="row">
			<% for (let event of events) { %>
				<div class="col-lg-6 my-3">
					<div class="card">
						<h5 class="card-header d-flex justify-content-between">
							<a href="#" class="text-dark">
								Test 1
							</a>
							<a href="#">
								<i class="far fa-edit text-muted">
									<span class="small">Edit</span>
								</i>
							</a>
						</h5>
						<div class="card-body d-flex flex-column justify-content-between">
							<p class="card-text">
								<%= event.summary %>
							</p>
							<div class="info">
								<div class="mb-2">
									<i class="far fa-calendar-alt">
										<span class="font-italic">
											<%= event.durationString %>
										</span>
									</i>
								</div>
								<div class="mb-2">
									<i class="fas fa-map-marker-alt">
										<span class="font-italic">
											<%= event.address %>
										</span>
									</i>
								</div>
								<div class="mb-2">
									<i class="fas fa-dollar-sign">
										<span class="font-italic">
											<%= event.price %>
										</span>
									</i>
								</div>
								<a href="#" class="btn btn-primary book-in">Book In</a>
							</div>
						</div>
					</div>
				</div>
				<% } %>
		</div>
	</main>

	<!-- Sticky Footer -->
	<%- include partials/footer %>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<%- include partials/html-scripts %>
</body>

</html>